**Chapter 2** **Exercise no:  #1 - 10**

**#1 -** R<span style="color: var(--vscode-foreground);">eturn orders placed in June 2015</span>

> Tables involved: TSQLV4 database, Sales.Orders table

**#2 -** Return orders placed on the last day of the month

> Tables involved: Sales.Orders table

**#3 -** <span style="color: var(--vscode-foreground);">Return employees with last name containing the letter 'e' twice or more</span>

> Tables involved: HR.Employees table

**#4 -** <span style="color: var(--vscode-foreground);">Return orders with total value(qty*unitprice) greater than 10000</span>   <span style="color: var(--vscode-foreground);">&nbsp;sorted by total value</span>

> Tables involved: Sales.OrderDetails table

**#5 -** Write a query against the HR.Employees table that returns employees <span style="color: var(--vscode-foreground);">with a last name that starts with a lower case letter.&nbsp;</span>  <span style="color: var(--vscode-foreground);">Remember that the collation of the sample database&nbsp;</span>  <span style="color: var(--vscode-foreground);">is case insensitive (Latin1_General_CI_AS).&nbsp;</span>  <span style="color: var(--vscode-foreground);">For simplicity, you can assume that only English letters are used&nbsp;</span>  <span style="color: var(--vscode-foreground);">in the employee last names</span>

<span style="background-color: rgba(127, 127, 127, 0.1); color: var(--vscode-foreground);">Tables involved: Sales.OrderDetails table</span>

**#6 -** Explain the difference between the following two queries

<span style="background-color: rgba(127, 127, 127, 0.1); color: var(--vscode-foreground);">Tables involved: Sales.OrderDetails table</span>

**#7 -** Return the three ship countries with the highest average freight for orders placed in 2015

> Tables involved: Sales.Orders table

**#8 -** Calculate row numbers for orders <span style="color: var(--vscode-foreground);">based on order date ordering (using order id as tiebreaker)&nbsp;</span>  <span style="color: var(--vscode-foreground);">for each customer separately</span>

> Tables involved: Sales.Orders table

**#9 -** Figure out and return for each employee the gender based on the title of courtesy <span style="color: var(--vscode-foreground);">Ms., Mrs. - Female, Mr. - Male, Dr. - Unknown</span>

> Tables involved: HR.Employees table

**#10 -** Return for each customer the customer ID and region <span style="color: var(--vscode-foreground);">sort the rows in the output by region&nbsp;</span>  <span style="color: var(--vscode-foreground);">having NULLs sort last (after non-NULL values)&nbsp;</span>  <span style="color: var(--vscode-foreground);">Note that the default in T-SQL is that NULLs sort first</span>

> Tables involved: Sales.Customers table

 <span style="background-color: transparent; font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); vertical-align: baseline;"><span style="border: none; display: inline-block; overflow: hidden; width: 20px; height: 20px;"><img src="https://lh7-us.googleusercontent.com/fr1jfMnxy4ib5z4ipHl6FxYTF73THw9svYIjjlx3BZh9L-0-0LgGDsxspfbwx4G5Z7VAcygnXyvRviuyTPoS3DcwyzEVcZoUBY1XHRtqHKMwV51p2f-dVij7bq8-8rjw1zGHg8WhEKuLJL5Q1NMbVtc" width="20" height="20" style="margin-left: 0px; margin-top: 0px;"></span></span><span style="background-color: transparent; font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); font-style: italic; vertical-align: baseline;">Written in collaboration with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query.</span>

In [ ]:
--#1
SELECT	OrderId AS orderid,
		OrderDate AS orderdate,
		custid AS custid,
		empid AS empid
FROM Sales.[Orders]
WHERE Year(OrderDate) = 2015 and Month(OrderDate) = 06;

In [ ]:
--#2
SELECT OrderId AS orderid,
       OrderDate AS orderdate,
       custid AS custid,
       empid AS empid
FROM Sales.[Orders]
WHERE OrderDate = EOMONTH(OrderDate);

In [ ]:
--#3
SELECT	empid AS empid,
		firstname AS firstname,
		lastname AS lastname
FROM HR.Employees
WHERE lastname LIKE '%e%e%';

In [ ]:
--#4
SELECT	OrderId AS orderid, 
		SUM(qty*UnitPrice) AS totalvalue
FROM Sales.[OrderDetails]
GROUP BY OrderId
HAVING SUM(qty*UnitPrice) > 10000
ORDER BY totalvalue desc;

In [ ]:
--#5
SELECT	empid AS empid,
		lastname AS lastname
FROM HR.Employees
WHERE LEFT(lastname, 0) COLLATE Latin1_General_CI_AS between 'a' and 'z';

In [ ]:
--#6
SELECT	empid AS empid,
		COUNT(*) AS numorders
FROM Sales.[Orders]
WHERE orderdate < '20160501'
GROUP BY empid;
--Query 1 filters all orders before May 1st 2016 and then counts by and groups by employeeId

SELECT	empid AS empid, 
		COUNT(*) AS numorders
FROM Sales.[Orders]
GROUP BY empid
HAVING MAX(orderdate) < '20160501';
--Query 2 groups and counts all existing orders by employeeId FIRST, then it filters the employees with the most recent orders placed before May 1st 2016

In [ ]:
--#7
SELECT top 3
       shipcountry AS shipcountry,
       AVG(Freight) AS avgfreight
FROM Sales.[Orders]
WHERE YEAR(OrderDate) = 2015
GROUP BY shipcountry
ORDER BY AVG(Freight) desc;

In [ ]:
--#8
SELECT custid AS custid,
	   OrderDate AS orderdate,
	   OrderId AS orderid,
	   ROW_NUMBER() OVER (PARTITION BY custid ORDER BY OrderDate, OrderId) AS rownum
FROM Sales.[Orders]
ORDER BY custid,
		 OrderDate,
		 OrderId;

In [ ]:
--#9
SELECT empid AS empid,
       firstname AS firstname,
       lastname AS lastname,
       titleofcourtesy AS titleofcourtesy,
       CASE
           WHEN titleofcourtesy = ('Ms.') THEN
               'Female'
           WHEN titleofcourtesy = ('Mrs.') THEN
               'Female'
           WHEN titleofcourtesy = ('Mr.') THEN
               'Male'
           ELSE
               'Unknown'
       END AS gender
FROM HR.Employees;

In [ ]:
--#10
SELECT custid AS custid,
       ISNULL(region, 'Null') AS region
FROM Sales.Customers
ORDER BY CASE
             WHEN region IS NULL THEN
                 1
             ELSE
                 0
         END,
         region,
         custid;

**Chapter 3** **Exercise no:  #1 - 5**

**#1** <span style="color: var(--vscode-foreground);">Write a query that generates 5 copies out of each employee row</span>

> Tables involved: TSQLV4 database, Employees and Nums tables

**#2** Explain what's wrong in the following query and provide a correct alternative

**#3** <span style="color: var(--vscode-foreground);">Return US customers, and for each customer the total number of orders&nbsp;</span>    <span style="color: var(--vscode-foreground);">and total quantities.&nbsp;</span>    

> <span style="color: var(--vscode-foreground);">Tables involved: TSQLV4 database, Customers, Orders and OrderDetails tables</span>

**#4**    <span style="color: var(--vscode-foreground);">&nbsp;Return customers and their orders including customers who placed no orders&nbsp;</span>    

> <span style="color: var(--vscode-foreground);">Tables involved: TSQLV4 database, Customers and Orders tables</span>

**#5** <span style="color: var(--vscode-foreground);">Return customers who placed no orders</span>

<span style="background-color: rgba(127, 127, 127, 0.1);">Tables involved: TSQLV4 database, Customers and Orders tables</span>

<span style="background-color: transparent; font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); vertical-align: baseline;"><span style="border: none; display: inline-block; overflow: hidden; width: 20px; height: 20px;"><img src="https://lh7-us.googleusercontent.com/fr1jfMnxy4ib5z4ipHl6FxYTF73THw9svYIjjlx3BZh9L-0-0LgGDsxspfbwx4G5Z7VAcygnXyvRviuyTPoS3DcwyzEVcZoUBY1XHRtqHKMwV51p2f-dVij7bq8-8rjw1zGHg8WhEKuLJL5Q1NMbVtc" width="20" height="20" style="margin-left: 0px; margin-top: 0px;"></span></span><span style="background-color: transparent; font-size: 11pt; font-family: Arial, sans-serif; color: rgb(0, 0, 0); font-style: italic; vertical-align: baseline;">Written in collaboration with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query.</span><span style="background-color: rgba(127, 127, 127, 0.1);"><br></span>

In [ ]:
--#1
SELECT FullName AS Employee,
    n
FROM HR.Employees
CROSS JOIN dbo.Nums AS n
Where n <= 5
Order by n;

In [ ]:
--#2 

--This query is asking to inner join / (find matching custid values between Customers and Orders, 
--it's trying to match each customer to their orders respectively. "The multi-part identifier "Customers.custid" could not be bound." 
--The specified column was no longer under the name Customers since we called it C, and O for Orders. 
--"Could not be bound" because the column table didn't exist under that name. The corrected alternative is below

--Solution
SELECT C.CustomerID,
    C.CustomerName,
    O.orderid,
    O.orderdate
FROM Sales.Customers AS C
  INNER JOIN Sales.Orders AS O
    ON C.CustomerID = O.CustomerID;

In [ ]:
--#3
SELECT C.CustomerID as custid,
    COUNT(O.orderid) as numorders,
    SUM(OD.Quantity) as totalqty
FROM Sales.Customers as C
INNER JOIN Sales.Orders AS O ON C.CustomerID = O.CustomerID
INNER JOIN Sales.OrderLines AS OD ON O.orderid = OD.orderid
GROUP BY C.CustomerID
ORDER BY custid

In [ ]:
--4
SELECT C.CustomerID as custid,
    C.CustomerName,
    O.orderid,
    O.orderdate
FROM Sales.Customers AS C
LEFT JOIN Sales.Orders AS O on C.CustomerID = O.CustomerID

In [ ]:
--#5
Select C.CustomerID as custid,
    C.CustomerName
From Sales.Customers AS C
LEFT JOIN Sales.Orders AS O ON C.CustomerID = O.CustomerID
Where O.orderid IS NULL;